div#cutscene-maker-window {
    width: 900px;
    height: 520px;
    min-width: 700px;
    min-height: 520px;
}

button {
    color: black;
}

.action-description {
   max-height: 50px;
   overflow-y: auto;
}

ul#actionList {
    margin: 0;
    padding: 0;
}
#screen-select-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    cursor: crosshair;
  }
  
  #selection-box {
    position: absolute;
    border: 2px dashed #fff;
    background-color: rgba(255, 0, 0, 0.3); /* Add this line for debugging */
    pointer-events: none;
    cursor: crosshair;
  }
  
  
textarea {
    color: black;
}

.window-app.minimized {
    height: 40px;
    overflow: hidden;
  }
  
  div#cutsceneContainer {
    min-height: 420px;
    overflow: overlay;
}

div#availableActions {
    height: 370px;
    overflow-y: scroll;
    overflow-x: clip;
    height: -webkit-fill-available;
}

div#button-container {
    height: -webkit-fill-available;
    margin-bottom: 22px;
}
